# Directories #
/build/
/bin/
target/
.vscode/
node_modules/

!**/src/main/**
!**/src/test/**
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# OS Files #
.Trashes
.Thumbs.db
.ehthumbs.db
HELP.md

# Package Files #
*.dmg
*.iso
*.tar
*.zip
*.gz
*.tgz

# Word #
*.xlsx
*.xls
*.pdf
*.docs
*.ppt
*.pptx
*.jpg
*.png


# Log #
*.log

# Execute #
*.dll
*.exe
*.o
*.so
*.com
*.class
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
